<div class="jumbotron text-center">
  <h1>Study-bud</h1>
  <p class="lead">Welcome to Study-bud! A progressive web app with a MEAN stack, who's got your back, helping you keep track.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Track Study Time</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis massa quis lacus facilisis pretium. Nulla feugiat sagittis venenatis. Maecenas vulputate lorem in felis finibus molestie a sed dui. Pellentesque ornare id odio ut dictum. Proin sapien nunc, consectetur ac commodo vehicula, fermentum sed massa. Aliquam erat volutpat. Donec eu est condimentum, mollis tellus ut, euismod elit. Vivamus enim leo, fermentum id massa luctus, porta accumsan erat. </p>
  </div>
  <div class="col-md-4">
    <h3>Compare Data</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis massa quis lacus facilisis pretium. Nulla feugiat sagittis venenatis. Maecenas vulputate lorem in felis finibus molestie a sed dui. Pellentesque ornare id odio ut dictum. Proin sapien nunc, consectetur ac commodo vehicula, fermentum sed massa. Aliquam erat volutpat. Donec eu est condimentum, mollis tellus ut, euismod elit. Vivamus enim leo, fermentum id massa luctus, porta accumsan erat. </p>
  </div>
  <div class="col-md-4">
    <h3>Analyze Graphs</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis massa quis lacus facilisis pretium. Nulla feugiat sagittis venenatis. Maecenas vulputate lorem in felis finibus molestie a sed dui. Pellentesque ornare id odio ut dictum. Proin sapien nunc, consectetur ac commodo vehicula, fermentum sed massa. Aliquam erat volutpat. Donec eu est condimentum, mollis tellus ut, euismod elit. Vivamus enim leo, fermentum id massa luctus, porta accumsan erat. </p>
  </div>
</div>